.header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -50;
	height: 100vh;
	width: 100%;
	background-image: url("../img/header.bg.jpg");
	background-size: cover;
	background-position-x: 50%;
	background-repeat: no-repeat;

	.parallax-darken {
		pointer-events: none;
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		background-color: #000;
		opacity: 0;
	}

	.left {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		height: 100%;

		background-color: $dark-lavender;

		@media only screen and (max-width: 767px) {
      width: 100%;
		}

		@media only screen and (min-width: 768px) and (max-width: 1200px) {
      width: 33%;
		}

		@media only screen and (min-width: 1200px) {
      width: 25%;
    }

		.hello-container {
			position: absolute;
			height: 60%;
			@include align(l,c);
			@include indentation(margin-left);

			@include device('small-mobile') {
				width: calc(100% - 2 * #{$pad--s-mob});
			}
			@include device('mobile') {
				width: calc(100% - 2 * #{$pad--mob});
			}
			@include device('tablet') {
				width: calc(200% - 2 * #{$pad--tab});
			}
			@include device('laptop') {
				width: calc(200% - 2 * #{$pad--lap});
			}
			@include device('desktop') {
				width: calc(200% - #{$pad--des});
			}
			@include device('large-desktop') {
				width: calc(200% - #{$pad--l-des});
			}
			@include device('full-hd') {
				width: calc(200% - #{$pad--f-hd});
			}

			.hello {
				position: relative;
				width: 100%;
				height: 91.66%;
				background-color: $white;

				.content {
					position: absolute;
					@include align(c,c);
					width: 66.66%;

					@media only screen and (max-width: 768px) {
						width: 75%;
					}

					h1 {
						font-size: 1rem;
						font-weight: 700;
						text-transform: uppercase;
						color: $lavender;

						span {
							font-size: .42rem;
							letter-spacing: .06em;
						}
					}

					p {
						font-size: .33rem;
						font-weight: 200;
						margin: .83rem 0;
					}

					.btn {
						position: relative;
						display: block;
						width: 50%;
						height: .83rem;
						border: 1px solid $pink;
						color: $pink;

						transition: all .25s;

						span {
							position: absolute;
							@include align(c,c);
							font-size: .25rem;
							font-weight: 800;
							text-transform: uppercase;
						}

						&:hover {
							color: $white;
							background-color: $pink;
						}
					}
				}
			}

			.feedback-link {
				position: absolute;
				bottom: 0;
				left: 0;
				right: 0;
				width: 100%;
			}
		}

		.social-icons {
			position: absolute;
			@include align(l,b);
			@include indentation(margin-left);
			@include indentation(margin-bottom);

			a {
				color: $white;
				transition: color .25s;

				&:hover {
					color: $pink;
				}

				span {
					font-size: .33rem;
				}
			}

			.phone {
				font-size: .33rem;
				font-weight: 700;
				color: $white;
			}
		}
	}
}