.about {
	width: 100%;
	//overflow: auto;

	.container {
		overflow: auto;

		img.geometric {
			position: absolute;
			@include align(l,c);
			left: 8.33%;
			width: 33.33%;

			@media only screen and (max-width: 450px) {
				display: none;
			}
		}

		.right {
			float: right;
			width: 50%;
			margin-top: 3rem;
			margin-right: 8.33%;

			@media only screen and (max-width: 450px) {
				width: 83.33%;
			}

			@media only screen and (min-width: 451px) and (max-width: 1200px) {
				width: 50%;
			}

			@media only screen and (min-width: 1200px) {
				width: 50%;
			}

			h2 {
				font-size: 1rem;
				font-weight: 700;
				text-transform: uppercase;
				text-align: right;
			}

			p {
				float: right;
				width: 83.33%;
				margin: 1.5rem 0;
				font-size: .33rem;
				font-weight: 200;
				text-align: right;
			}

			.scroll-down {
				float: right;
				width: 25%;

				@media only screen and (max-width: 1200px) {
					width: 33.33%;
				}
			}
		}
	}
}