.advantages {
	width: 100%;
	overflow: hidden;
	background-color: $dark-lavender;

	.container {
		overflow: hidden;
		margin-top: 3rem;
		margin-bottom: 3rem;

		h2 {
			font-size: 1rem;
			font-weight: 700;
			text-transform: uppercase;
			text-align: center;
			color: $blackberry;
			margin-bottom: 2rem;
		}

		.block {
			cursor: pointer;
			box-sizing: border-box;
			position: relative;
			float: left;
			background-color: $pink;
			height: 6rem;

			transition: box-shadow .25s;

			@media only screen and (max-width: 767px) {
				width: 83.33%;
				margin: 2rem 8.33%;
			}

			@media only screen and (min-width: 768px) and (max-width: 1200px) {
				width: 36.66%;
				margin: 2rem 6.66%;

				&.last {
					margin: 2rem 31.66%;
				}
			}

			@media only screen and (min-width: 1200px) {
				width: 25%;
				margin: 2rem 4.16%;
			}

			&:hover {
				box-shadow: 0px -5px 30px 0px rgba(0,0,0,0.25);
			}

			img {
				position: absolute;
				left: 10%;
				top: 0;
				height: 62%;
				transform: translateY(-50%);
			}

			p {
				position: absolute;
				left: 10%;
				top: 42%;
				width: 80%;
				font-size: .36rem;
				font-weight: 600;
				letter-spacing: .2em;
				line-height: 1.25em;
				color: $blackberry;
			}
		}
	}
}