.schedule {
	height: 100vh;
	width: 100%;
	background-image: url('../img/schedule.jpg');
	background-size: cover;
	background-position: center;

	.left,
	.right {
		height: 100%;
		width: 50%;
	}

	.left {
		float: left;

		@media only screen and (max-width: 1200px) {
			display: none;
		}

		.link-container {
			position: absolute;
			@include align(l,c);
			width: 100%;

			.left-link,
			.right-link {
				float: left;
				width: 33.33%;

				.circle {
					position: relative;
					box-sizing: border-box;
					cursor: pointer;
					border: 2px solid $blackberry;
					height: 35px;
					width: 35px;
					border-radius: 30px;
					background-color: rgba(0, 0, 0, 0);
					margin: 35px 0;

					transition: all .25s $easeOutQuint;

					&:hover {
						border: 4px solid $white;
						background-color: $blackberry;

						p {
							margin-left: 1.10rem;
						}
					}

					&.active {
						border: 5px solid $blackberry;
						background-color: $blackberry;

						p {
							margin-left: 1.15rem;
						}
					}

					p {
						position: absolute;
						left: 0;
						top: 50%;
						transform: translateY(-50%);
						margin-left: 1rem;
						color: $blackberry;
						font-size: .36rem;
						font-weight: 800;

						transition: all .25s;
					}
				}
			}
		}
	}

	.right {
		float: right;

		@media only screen and (max-width: 1200px) {
			width: 100%;
		}

		.right-container {
			color: $white;
			height: 100%;

			@media only screen and (max-width: 1200px) {
				width: 100%;
				margin: 0;
			}

			.center {
				position: absolute;
				@include align(l,c);
				width: 83.33%;
				height: 65%;

				@media only screen and (max-width: 1200px) {
					@include align(c,c);
					height: 66.66%;
				}

				@media only screen and (min-width: 450px) and (max-width: 1200px) {
					width: 66.66%;
				}

				h2 {
					font-size: 1rem;
					text-transform: uppercase;
					text-align: right;
					color: $blackberry;

					@media only screen and (max-width: 1200px) {
						text-align: center;
					}
				}

				.slider-container {
					overflow: hidden;
					position: absolute;
					@include align(c,b);
					height: 76%;
					width: 100%;
					background-color: $white;

					@media only screen and (max-width: 1200px) {
						height: 75%;
					}

					.slider {
						height: 100%;
						transition: all 1s $easeOutQuint;

						.single-slide {
							position: relative;
							color: $black;
							float: left;
							height: 100%;
							text-align: left;

							.center-slide {
								position: absolute;
								@include align(c,c);
								width: 60%;

								h4, h2, p {
									text-align: left;
									text-transform: none;
								}

								h4 {
									font-size: .5rem;
									font-weight: 700;
									color: $pink;
								}

								h2 {
									margin-top: .28rem;
									margin-bottom: .42rem;
									font-size: .66rem;
									font-weight: 700;
								}

								p {
									font-size: .36rem;
									font-weight: 300;
								}

								.controls {
									margin-top: .66rem;
									height: 50px;
									width: 100%;

									a.prev,
									a.next {
										position: relative;
										display: block;
										float: left;
										height: 100%;
										width: 40%;
										color: $black;

										transition: color .25s;

										&:hover {
											color: $lavender;
										}

										span.icon-prev,
										span.icon-next {
											position: absolute;
											font-size: .66rem;
										}

										span.count-prev,
										span.count-next {
											position: absolute;
											font-size: .5rem;
											font-weight: 800;

											transition: margin .25s;
										}
									}

									a.prev {
										margin-right: 20%;

										span.icon-prev {
											@include align(l,c);
											margin-left: -.16rem;
										}

										span.count-prev {
											@include align(r,c);
										}

										&:hover {
											span.count-prev,
											span.count-next {
												margin-right: 10px;
											}
										}
									}

									a.next {
										span.icon-next {
											@include align(r,c);
											margin-right: -.16rem;
										}

										span.count-next {
											@include align(l,c);
										}

										&:hover {
											span.count-prev,
											span.count-next {
												margin-left: 10px;
											}
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}