.lessons {
	width: 100%;

	@media only screen and (max-width: 1200px) {
		padding: 1.5rem 0;
	}

	.block {
		@media only screen and (max-width: 1200px) {
			overflow: auto;
			padding: 1rem 0;
		}

		&.left-img {
			.info {
				.center {
					text-align: right;

					@media only screen and (min-width: 1200px) {
						@include align(r,c);
					}

					span {
						&:after {
							@include align(l,c);
							margin-left: -1rem;
						}
					}

					h2 {
						margin-left: 45%;
					}

					p {
						margin-left: 33.33%;
						font-weight: 400;
					}
				}
			}

			.image {
				background-color: $dark-lavender;

				img {
					margin-left: 16.66%;
				}
			}
		}

		&.right-img {
			.info {
				.center {
					text-align: left;

					@media only screen and (min-width: 1200px) {
						@include align(l,c);
					}

					span {
						&:after {
							@include align(r,c);
							margin-right: -1rem;
						}
					}

					h2 {
						margin-right: 45%;
					}

					p {
						margin-right: 33.33%;
					}
				}
			}

			.image {
				background-color: $dark-pink;

				img {
					margin-left: -16.66%;
				}
			}
		}

		.info,
		.image {
			float: left;
			width: 50%;

			@media only screen and (max-width: 1200px) {
				width: 100%;
			}
		}

		.info {
			height: 100%;

			.center {
				position: absolute;

				@media only screen and (max-width: 1200px) {
					position: static;
				}

				span {
					position: relative;
					display: inline-block;
					font-size: 2.25rem;
					font-weight: 900;
					line-height: .75em;

					&:after {
						content: "";
						position: absolute;
						margin-top: .06rem;
						height: 100%;
						width: .5rem;
						background-color: $gorse;
					}
				}

				h2 {
					width: 55%;
					font-size: .5rem;
					font-weight: 700;
					text-transform: uppercase;
					margin: .5rem 0;
				}

				p {
					width: 66.66%;
					font-size: .36rem;
					font-weight: 400;
					text-align: justify;
					color: $black;
				}
			}
		}

		.image {
			@media only screen and (max-width: 1200px) {
				display: none;
			}

			img {
				margin: 12.5% 0;
				width: 100%;
			}
		}
	}
}