.adaptation {
	width: 100%;
	overflow: hidden;
	background-color: $dark-pink;

	.container {
		overflow: auto;

		.info,
		.image {
			width: 41.66%;
		}

		.info {
			margin-left: 8.33%;
			color: $blackberry;

			@media only screen and (min-width: 1200px) {
				position: absolute;
				@include align(l,c);
			}

			@media only screen and (max-width: 1200px) {
				width: 66.66%;
				margin-top: 2rem;
				margin-bottom: 2rem;
			}

			h2 {
				font-size: 1rem;
				font-weight: 400;
				text-transform: uppercase;

				&.mobile {
					@media only screen and (min-width: 1199px) {
						display: none;
					}
				}

				&.desktop {
					@media only screen and (max-width: 1200px) {
						display: none;
					}
				}
			}

			p {
				font-size: .36rem;
				font-weight: 400;
				margin-top: .55rem;
			}
		}

		.image {
			float: right;
			margin-right: 8.33%;

			@media only screen and (max-width: 1200px) {
				display: none;
			}

			img {
				float: right;
				width: 66.66%;
				margin: 33% 0;
			}
		}
	}
}