.gallery {
	width: 100%;
	overflow: hidden;

	a.item {
		display: block;
		float: left;
		//overflow: auto;
		position: relative;
		width: 33.33%;

		@media only screen and (max-width: 768px) {
			width: 100%;
		}

		@media only screen and (min-width: 769px) and (max-width: 1200px) {
			width: 50%;
		}

		img {
			float: left;
			width: 100%;
		}

		&:after {
			content: "";
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			z-index: 5;
			width: 100%;
			height: 100%;
			background-color: $lavender;
			opacity: 0;

			transition: opacity .25s;
		}

		&:before {
			content: "\e906";
			font-family: 'icomoon' !important;
			position: absolute;
			@include align(c,c);
			z-index: 10;
			font-size: .66rem;
			color: $white;
			opacity: 0;

			transition: opacity .25s;
		}

		&:hover {
			&:after {
				opacity: .9;
			}

			&:before {
				opacity: 1;
			}
		}
	}
}