.comments {
	background-color: #ededed;
	width: 100%;
	padding: 1rem 0;

	.container {
		.bx-wrapper {
			background: none;
			border: none;
			cursor: pointer;
			user-select: none;
			box-shadow: none;
			margin: 0;
			//overflow: auto;
		}

		li.comment {
			overflow: auto;

			img {
				float: left;
				width: 33.33%;
			}

			.info {
				width: 66.66%;
				box-sizing: border-box;
				padding-left: .83rem;

				@media only screen and (max-width: 1199px) {
					float: right;
				}

				@media only screen and (min-width: 1200px) {
					position: absolute;
					@include align(r,c);
				}

				h4.name {
					font-size: .5rem;
					font-weight: 700;
					margin-bottom: .66rem;
				}

				p.year {
					font-size: .33rem;
					font-weight: 700;
					opacity: .5;
					margin-top: .25rem;
					margin-bottom: .66rem;
				}

				p.text {
					font-size: .33rem;
					font-weight: 200;
				}

				.controls {
					$controls-height: 40px;

					height: $controls-height;
					width: 1rem * 3;
					margin-top: 1rem;

					.prev-slide,
					.next-slide {
						float: left;
						width: 33.33%;
						height: $controls-height;

						span {
							font-size: .66rem;
							line-height: $controls-height;

							&.icon-prev {
								float: left;
							}

							&.icon-next {
								float: right;
							}
						}

						.bx-prev,
						.bx-next {
							position: relative;
							z-index: 5;
							display: block;
							width: 100%;
							height: 100%;
						}
					}

					p {
						float: left;
						font-size: .33rem;
						font-weight: 600;
						text-align: center;
						line-height: $controls-height;
						width: 33.33%;
					}
				}
			}
		}
	}
}
