.contact {
	overflow: auto;

	.container {
		overflow: auto;
		margin: auto;
		padding: 2.5rem 0;
		width: 83.33%;

		.left,
		.center,
		.right {
			float: left;
			width: 33.33%;
		}

		.left {
			@media only screen and (max-width: 1199px) {
				width: 100%;

				h2 {
					text-align: center;
					margin-bottom: 1rem;
				}
			}

			h2 {
				font-size: 1rem;
				font-weight: 700;
				text-transform: uppercase;
			}
		}

		.center {
			@media only screen and (max-width: 1199px) {
				width: 45%;
			}

			p {
				text-align: center;
				font-size: .33rem;

				@media only screen and (max-width: 1199px) {
					text-align: left;
				}
			}
		}

		.right {
			@media only screen and (max-width: 1199px) {
				width: 55%;
			}

			.align {
				float: right;

				.phone,
				.mail {
					overflow: auto;
					width: 100%;

					span {
						float: left;
						font-size: .5rem;
						line-height: .5rem;
						margin-right: .42rem;
					}

					a {
						float: left;
						color: $black;
						font-size: .42rem;
						line-height: .5rem;
					}
				}
			}
		}
	}
}