.feedback {
	height: 100vh;

	@media only screen and (max-width: 767px) {
		height: 175vh;
	}

	#map {
		float: left;
		width: 50%;
		height: 100%;

		@media only screen and (max-width: 767px) {
			width: 100%;
			height: 42.8%;
		}
	}

	.contact-form {
		float: left;
		width: 50%;
		height: 100%;
		color: $white;
		background-color: $dark-pink;

		@media only screen and (max-width: 767px) {
			width: 100%;
			height: 57.2%;

			.right-container {
				margin: 0;
				width: 100%;
			}
		}

		.center {
			position: absolute;
			@include align(c,c);
			width: 66.66%;

			h2, p {
				text-transform: uppercase;
				font-weight: 700;
			}

			h2 {
				font-size: 1rem;
			}

			p {
				font-size: .33rem;
				letter-spacing: .1em;
				margin-top: .66rem;
				margin-bottom: 1.4rem;
			}

			form {
				width: 100%;

				input[type="text"],
				input[type="tel"],
				input[type="email"],
				textarea {
					float: right;
					box-sizing: border-box;
					width: 100%;
					border: none;
					color: $white;
					font-size: .25rem;
					font-weight: 800;
					border-bottom: 1px solid $white;
					background-color: rgba(0,0,0,0);
					margin: 0 0 .33rem 0;
					padding: 0 10px;
					transition: all .25s;

					&:focus {
						outline: none;
					}

					&::placeholder {
						color: $white;
						font-weight: 700;
					}
				}

				input[type="text"],
				input[type="tel"],
				input[type="email"] {
					overflow: hidden;
					height: 50px;
				}

				input::-webkit-outer-spin-button,
				input::-webkit-inner-spin-button {
					/* display: none; <- Crashes Chrome on hover */
					-webkit-appearance: none;
					margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
				}

				textarea {
					overflow: hidden;
					resize: none;
					margin-bottom: 1rem;
				}

				.submit-btn {
					cursor: pointer;
					position: relative;
					overflow: hidden;
					width: 100%;
					height: 4.2vh;

					input[type="submit"] {
						float: right;
						cursor: pointer;
						height: 100%;
						width: 100%;
						text-align: center;
						text-transform: uppercase;
						color: $white;
						background-color: $white;
						border: none;
						transition: color .25s;

						@media only screen and (max-width: 1200px) {
							width: 100%;
						}

						&:focus {
							outline: none;
							border-bottom-color: $white;
						}
					}

					&:before {
						content: "\e900";
						font-family: 'icomoon';
						font-size: .5rem;
						text-align: center;
						line-height: 4.2vh;
						color: $pink;
						pointer-events: none;
						position: absolute;
						left: -100%;
						top: 0;
						bottom: 0;
						height: 100%;
						width: 100%;

						transition: left .75s $easeOutQuint;
					}

					&:after {
						content: "Отправить";
						position: absolute;
						height: 100%;
						width: 100%;
						right: 0;
						top: 0;
						bottom: 0;
						text-transform: uppercase;
						font-size: .19rem;
						font-weight: 800;
						line-height: 4.2vh;
						text-align: center;
						color: $pink;

						transition: right .75s $easeOutQuint;
					}

					&:hover {
						&:before {
							left: 0;
						}

						&:after {
							right: -100%;
						}
					}
				}
			}
		}
	}
}