// Common

body, html {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Rubik', sans-serif;
  background-color: $white;
  color: $black;
  overflow-x: hidden;
}

html {
  @include responsive(font-size, 34px, 42px, 46px, 56px, 48px, 56px, 72px);
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

h1, h2, h3,
h4, h5, h6,
p, ul, li {
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 1rem;
}

h2 {
  font-size: .83rem;
}

h3 {
  font-size: .66rem;
}

h4 {
  font-size: .42rem;
}

h5 {
  font-size: .33rem;
}

h6 {
  font-size: .25rem;
}

p, span {
  font-family: 'Open Sans', sans-serif;
  font-size: .22rem;
}

img {
  user-select: none;
}

.page {
	margin-top: 100vh;
	background-color: $white;
	box-shadow: 0px -5px 30px 0px rgba(0,0,0,0.25);
}