.container {
  position: relative;
  width: 100%;

	@include indentation(margin-left);
	@include indentation(margin-right);

	@include device('small-mobile') {
    width: calc(100% - 2 * #{$pad--s-mob});
  }
  @include device('mobile') {
    width: calc(100% - 2 * #{$pad--mob});
  }
  @include device('tablet') {
		width: calc(100% - 2 * #{$pad--tab});
  }
  @include device('laptop') {
    width: calc(100% - 2 * #{$pad--lap});
  }
  @include device('desktop') {
		width: calc(100% - 2 * #{$pad--des});
  }
  @include device('large-desktop') {
		width: calc(100% - 2 * #{$pad--l-des});
  }
  @include device('full-hd') {
		width: calc(100% - 2 * #{$pad--f-hd});
  }
}

.left-container {
  position: relative;
  width: 100%;
  height: 100%;

	@include indentation(margin-left);

	@include device('small-mobile') {
    width: calc(100% - #{$pad--s-mob});
  }
  @include device('mobile') {
    width: calc(100% - #{$pad--mob});
  }
  @include device('tablet') {
		width: calc(100% - #{$pad--tab});
  }
  @include device('laptop') {
    width: calc(100% - #{$pad--lap});
  }
  @include device('desktop') {
		width: calc(100% - #{$pad--des});
  }
  @include device('large-desktop') {
		width: calc(100% - #{$pad--l-des});
  }
  @include device('full-hd') {
		width: calc(100% - #{$pad--f-hd});
  }
}

.right-container {
  position: relative;
  width: 100%;
  height: 100%;

	@include indentation(margin-right);

	@include device('small-mobile') {
    width: calc(100% - #{$pad--s-mob});
  }
  @include device('mobile') {
    width: calc(100% - #{$pad--mob});
  }
  @include device('tablet') {
		width: calc(100% - #{$pad--tab});
  }
  @include device('laptop') {
    width: calc(100% - #{$pad--lap});
  }
  @include device('desktop') {
		width: calc(100% - #{$pad--des});
  }
  @include device('large-desktop') {
		width: calc(100% - #{$pad--l-des});
  }
  @include device('full-hd') {
		width: calc(100% - #{$pad--f-hd});
  }
}