// Fonts

// Rubik
@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,500,700,900&subset=cyrillic');

// Open Sans
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&subset=cyrillic');

// Icons

@font-face {
  font-family: 'icomoon';
  src:  url('../assets/icons/icomoon.eot?z1suw0');
  src:  url('../assets/icons/icomoon.eot?z1suw0#iefix') format('embedded-opentype'),
    url('../assets/icons/icomoon.ttf?z1suw0') format('truetype'),
    url('../assets/icons/icomoon.woff?z1suw0') format('woff'),
    url('../assets/icons/icomoon.svg?z1suw0#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-mail:before {
  content: "\e900";
}
.icon-next:before {
  content: "\e903";
}
.icon-prev:before {
  content: "\e904";
}
.icon-zoom:before {
  content: "\e906";
}
.icon-phone:before {
  content: "\e901";
}
.icon-instagram:before {
  content: "\e902";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-twitter:before {
  content: "\ea96";
}