footer {
	height: 1rem;
	background-color: $white;

	p {
		line-height: 1rem;
		color: $black;
		font-size: .25rem;
		font-weight: 800;
		text-transform: uppercase;
		text-align: center;

		a {
			color: $black;
		}
	}
}