$nav-height: 6vh;

$hamburger-width: $nav-height * 1.5;

$hamburger-line-height: 4px;
$hamburger-line-width: $hamburger-width * .55;

.nav {
	pointer-events: none;
	position: fixed;
	z-index: 500;
	top: 0;
	left: 0;
	right: 0;
	height: $nav-height;
	@include indentation(margin-top);
	@include indentation(margin-left);
	@include indentation(margin-right);

	@include device('small-mobile') {
    width: calc(100% - 2 * #{$pad--s-mob});
  }
  @include device('mobile') {
    width: calc(100% - 2 * #{$pad--mob});
  }
  @include device('tablet') {
		width: calc(100% - 2 * #{$pad--tab});
  }
  @include device('laptop') {
    width: calc(100% - 2 * #{$pad--lap});
  }
  @include device('desktop') {
		width: calc(100% - 2 * #{$pad--des});
  }
  @include device('large-desktop') {
		width: calc(100% - 2 * #{$pad--l-des});
  }
  @include device('full-hd') {
		width: calc(100% - 2 * #{$pad--f-hd});
	}

	&.white {
		.logo.white {
			opacity: 1;
		}

		.logo.black {
			opacity: 0;
		}

		nav {
			background-color: $white;

			ul {
				a {
					color: $black;
				}
			}
		}

		.hamburger-wrapper {
			.hamburger {
				.line {
					background-color: $black;
				}
			}
		}
	}

	&.black {
		.logo.black {
			opacity: 1;
		}

		.logo.white {
			opacity: 0;
		}

		nav {
			background-color: $black;

			ul {
				a {
					color: $white;
				}
			}
		}

		.hamburger-wrapper {
			.hamburger {
				.line {
					background-color: $white;
				}
			}
		}
	}

	.logo {
		pointer-events: auto;
		height: 175%;
		position: absolute;
		@include align(l,c);
		user-select: none;
	}

	nav {
		pointer-events: auto;
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		height: 100%;
		transition: background-color .25s, height .5s, width .5s;

		@media only screen and (max-width: 1200px) {
			z-index: -1;
			height: $nav-height;
			width: $hamburger-width;
		}

		.hamburger-wrapper {
			cursor: pointer;
			float: right;
			height: 100%;
			width: $hamburger-width;
			position: relative;
			z-index: 50;

			@media only screen and (max-width: 1200px) {
				height: $nav-height;
			}

			.hamburger {
				position: absolute;
				@include align(c,c);

				.line {
					margin: 0 auto;
					width: $hamburger-line-width;
					height: $hamburger-line-height;

					transition: all .25s;

					&.center {
						margin: 4px auto;
					}
				}
			}
		}

		ul {
			opacity: 0;
			float: right;
			padding: 0;

			transition: padding .5s, opacity .25s .1s;

			@media only screen and (max-width: 1200px) {
				position: absolute;
				bottom: 0;
				left: 0;
				right: 0;
				margin-bottom: $nav-height;
				float: none;
				width: 100%;
				height: calc(6 * #{$nav-height});

				transition: padding .5s, opacity .05s;
			}

			a {
				float: left;
				pointer-events: none;

				@media only screen and (max-width: 1200px) {
					width: 100%;
					float: none;
				}

				li {
					float: left;
					font-size: 0.25rem;
					font-weight: 700;
					line-height: $nav-height;
					margin: 0 -100px;

					transition: margin .5s;

					@media only screen and (max-width: 1200px) {
						display: block;
						width: 100%;
						float: none;
						margin: 0;
						text-align: center;
					}
				}
			}
		}
	}

	&.open {
		nav {
			@media only screen and (max-width: 1200px) {
				height: calc(8 * #{$nav-height});
				width: 50%;

				box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.25);
			}

			.hamburger-wrapper {
				.hamburger {
					.line {
						&.top {
							transform: rotate(45deg);
							margin-bottom: -$hamburger-line-height;
						}

						&.center {
							opacity: 0;
							margin: 0 auto;
						}

						&.bottom {
							transform: rotate(-45deg);
							margin-top: -$hamburger-line-height;
						}
					}
				}
			}

			ul {
				opacity: 1;
				padding: 0 25px;

				@media only screen and (max-width: 1200px) {
					padding: 0;
					transition: padding .5s, opacity 1s;
				}

				a {
					pointer-events: auto;

					li {
						margin: 0 25px;

						@media only screen and (max-width: 1200px) {
							margin: 0;
							text-align: center;
						}
					}
				}
			}
		}
	}
}