// Variable

// Color

$white: #fff;
$black: #333;

$pink: #ffbebe;
$lavender: #9d9de0;
$dark-pink: #e0aaaa;
$dark-lavender: #8b8bc6;
$gorse: #ffee58;
$blackberry: #4d0135;

// Global padding for grid

$pad--s-mob: 20px;
$pad--mob: 20px;
$pad--tab: 25px;
$pad--lap: 30px;
$pad--des: 40px;
$pad--l-des: 60px;
$pad--f-hd: 80px;

// easing

$easeOutQuint: cubic-bezier(.15, 1, 0.3, 1);
